# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Notebooks
.ipynb_checkpoints/

# Logs
*.log
*.jsonl

# Environment variables
.env

# Raw & processed data
data/raw/
data/processed/

# Retrieval artifacts
genai/retrieval/*.pkl
genai/retrieval/*.index

# Runtime artifacts
genai/data/artifacts/*.json
genai/data/artifacts/*.csv

# IDE
.vscode/
.idea/